.logo-icon-defaults {
  background-size: contain;
  background-position: center;
  background-repeat:  no-repeat;
  content: "";
  font-size: 1.25em;
  height: 1.75em;
}

.logo-icon(@filename) {
  .logo-icon-defaults;
  background-image: url("atom://logo-file-icons/icons/@{filename}.svg");
}
